{% extends 'base.html' %}
{% block content %}

<body class="bg-light">
    <div class="container mt-5">
        <div class="alert alert-success">
            <h4 class="alert-heading">Alteracão bem sucedida!</h4>
            <p>Obrigado! Seu registro foi concluído com sucesso.</p>
            <hr>
            <a href="{{ url_for('redirect') }}" onclick="window.open(this.href,'_self');return false;" class="alert-link ml-2">Clique aqui para fazer login.</a>
        </div>
    </div>
{% endblock %}
